<h1>New Link</h1>


<form action="<%= links_url %>" method="POST">
  <%= form_auth %>

  <br>
  <label>Enter URL:
    <input type="text" name="link[url]"></label>

  <br>
  <label>Enter title:
    <input type="text" name="link[title]"></label>

  <br>
  <label>Enter Text
    <textarea name="link[text]"></textarea></label>

  <% @subs.each do |sub| %>
    <br>
    <label><%= sub.name %>
      <input type="checkbox" name="link[sub_ids][]" value="<%= sub.id %>"></label>

  <% end %>
  <br>
  <input type="submit" value="Create Link">
</form>